<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ticket Created for Your Request</title>
    <style>        
    th {
        text-align: left; /* Align table headers to the left */
        background-color: rgb(240,240,240); /* Optional: Light gray background for headers */
        padding: 5px; /* Add padding for better readability */
    }
    td {
        padding: 5px; /* Add padding for table cells */
    }
    </style>

</head>
<body>
    <div>
        <h2>Dear Customer,</h2>
        <p>We have created a ticket for your request. Below are the details:</p>
        <table border="1" cellpadding="5" cellspacing="0" class="table table-bordered">
            <tbody>
                <tr>
                    <th>Ticket Number</th>
                    <td>{{ entry.unique_id }}</td>
                </tr>
                <tr>
                    <th>Chassis Number (VIN)</th>
                    <td>{{ entry.vin }}</td>
                </tr>
                <tr>
                    <th>Assigned Engineer</th>
                    <td>{{ entry.complaint_assigned_to }}</td>
                </tr>
                <tr>
                    <th>Engineer Contact Number</th>
                    <td>{{ entry.engineer_contact_number }}</td>
                </tr>
                <tr>
                    <th>Engineer Email</th>
                    <td>{{ entry.engineer_email }}</td>
                </tr>
                {% if entry.call_type == "Direct Call" or entry.call_type == "DBM NRD" %}
                <tr>
                    <th>Technician Support Required At</th>
                    <td>{{ tech_support_needed }}</td>
                </tr>
                {% endif %}
            </tbody>
        </table>

        <p>If you have any questions, feel free to contact us.</p>
        <div class="logo-section">
            <br>
            <b>Danlaw Technologies Service & Support Team
            <br>
Email : Support.al@danlawtech.com
<br>
Support Team - 6303908940 / 04431436579
<br>
Online support : 09:00AM to 05:30PM, Monday to Saturday
<br>
Thank you</b>
<img src="data:image/png;base64,{{ logo_base64 }}" alt="Danlaw Logo" class="logo-left" style="width: 150px; height: auto;">

        </div>
    </div>
</body>
</html>