<!DOCTYPE html>
<html>
<head>
    <title>Feedback Request</title>
    <style>
        body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; }
        a { color: #007bff; text-decoration: none; }
        a:hover { text-decoration: underline; }
        .button {
            display: inline-block;
            background-color: #ff9800;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            border-radius: 5px;
            font-size: 16px;
            font-weight: bold;
            border: none;
            cursor: pointer;
        }
        .button:hover { background-color: #e68a00; }
    </style>
</head>
<body>
    <p>Dear <b>Sir/Madam</b>,</p>

    <p><b>{{ direct_call.vin }} issue has been Analysed on {{ direct_call.date_of_closure }}.</b></p>
    <p><strong>Ticket Details:</strong></p>

    <table border="1" cellpadding="8" cellspacing="0" style="border-collapse: collapse; width: 100%; text-align: left; background-color: #69a9eefd; color: white;">
        <thead>
            <tr>
                <th>Ticket Number</th>
                <th>Date of Complaint</th>
                <th>VIN</th>
                <th>Issue Identified</th>
                <th>Call Status</th>
                <th>Remarks</th>
                <th>Date of Closure</th>
            </tr>
        </thead>
        <tbody style="background-color: white; color: black;">
            <tr>
                <td>{{ direct_call.unique_id }}</td>
                <td>{{ direct_call.date_of_complaint }}</td>
                <td>{{ direct_call.vin }}</td>
                <td>{{ direct_call.issue_analysis_01 }}</td>
                <td>
                    {% if direct_call.call_status == "FIR-For Approval" or direct_call.call_status == "FIR-Replace" or direct_call.call_status == "FIR-Repair" or direct_call.call_status == "FIR-Replace_Repair" %}
                        Taken for analysis
                    {% else %}
                        {{ direct_call.call_status }}
                    {% endif %}
                </td>
                <td>{{ direct_call.remarks_in_ialert }}</td>
                <td>{{ direct_call.date_of_closure }}</td>
            </tr>
        </tbody>
    </table>

    {% if direct_call.engineer_recommendation == "Repair" %}
        <p>
            Please arrange to send the device for repair to the below given address:
            {% if direct_call.device_to_be_sent == "Goa" %}
                <br>
                <b>DANLAW TECHNOLOGIES INDIA LTD,<br>
                L15, Verna Industrial Estate, Verna, Quelossim, Goa 403722</b>
            {% elif direct_call.device_to_be_sent == "Hyderabad" %}
                <br>
                <b>Danlaw Technologies India Limited<br>
                Unit No. 201, C9VM+H76 Gowra Fountainhead, 202 & 203,<br>
                Huda Techno Enclave Rd, Patrika Nagar, Madhapur,<br>
                Hyderabad, Telangana 500081</b>
            {% else %}
                <br>
                <b>Address:</b> {{ direct_call.device_to_be_sent }}
            {% endif %}
        </p>
    {% elif direct_call.engineer_recommendation == "Repair_Replace" or direct_call.engineer_recommendation == "Replace_Repair" %}
        <p>
        Please arrange to send the faulty device to the address below. Once received faulty device, we will dispatch the replacement device.
            {% if direct_call.device_to_be_sent == "Goa" %}
                <br>
                <b>DANLAW TECHNOLOGIES INDIA LTD<br>
                L15, Verna Industrial Estate, Verna, Quelossim, Goa 403722
            {% elif direct_call.device_to_be_sent == "Hyderabad" %}
                <br>
                <b>Danlaw Technologies India Limited<br>
                Unit No. 201, C9VM+H76 Gowra Fountainhead, 202 & 203,<br>
                Huda Techno Enclave Rd, Patrika Nagar, Madhapur,<br>
                Hyderabad, Telangana 500081</b>
            {% else %}
                <br>
                <b>Address:</b> {{ direct_call.device_to_be_sent }}
            {% endif %}
        </p>
    {% endif %}

    <p>Please click the button below to fill out the feedback form:</p>
    <p><a href="{{ feedback_form_url }}" target="_blank" class="button">Provide Feedback</a></p>
    <p>We value your feedback and look forward to hearing from you.</p>

    <div class="logo-section">
        <b>For any concerns related to the I Alert device and if vehicle is in the workshop, please send issue details in the below link</b>
        <br>
        “Press ctrl + click <a href="https://danlawtech-my.sharepoint.com/:x:/p/kunal/EdL_SwTzWKJGqEDg8PkyhvkBdgWSvICMZXkk56KcAuLboA?e=uKnP00" target="_blank">
        CRSC Format</a> and mail to <b>crscdanlaw@danlawtechnologies.com</b>
        <br>
        Alternatively, you may send a "HI” message to our centralized <b>WhatsApp number: 6303908940</b> which shall take you to update your complaint step by step. <br> We shall be in contact with in 15-30 minutes,
        <br>
        Online Support: 09:30 am to 05:00 Pm from Monday to Saturday except 2nd Saturday.
        <br><b>Danlaw Technologies Service & Support Team<br>
        Thank you</b><br><br>
    </div>
    </div>
</body>
</html>