<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Call Closed Notification</title>
    <style>
        th {
            text-align: left; /* Align table headers to the left */
            background-color: rgb(240,240,240); /* Optional: Light gray background for headers */
            padding: 5px; /* Add padding for better readability */
        }
        td {
            padding: 5px; /* Add padding for table cells */
            width: 60%; /* Set a fixed width for the data column */
            word-wrap: break-word; /* Allow long text to wrap to the next line */
        }
    </style>
</head>
<body>
    <div>
        <h2>Call {{ entry.call_status }} Notification</h2>
        <p>The following call has been closed by the engineer:</p>
        <table border="1" cellpadding="5" cellspacing="0" class="table table-bordered">
            <tbody>
                <tr>
                    <th>Ticket Number</th>
                    <td>{{ entry.unique_id }}</td>
                </tr>
    
                <tr>
                    <th>Date of Complaint</th>
                    <td>{{ entry.date_of_complaint }}</td>
                </tr>
                <tr>
                    <th>Complaint Type</th>
                    <td>{{ entry.call_type }}</td>
                </tr>
                <tr>
                    <th>I Alert Ticket No</th>
                    <td>{{ entry.ticket_no }}</td>
                </tr>
                <tr>
                    <th>Complaint Type</th>
                    <td>{{ entry.call_type }}</td>
                </tr>
                <tr>
                    <th>Complaint Raised From Location</th>
                    <td>{{ entry.complaint_raised_from_location }}</td>
                <tr>
                    <th>Customer Voice</th>
                    <td>{{ entry.customer_raised_issue }}</td>
                </tr>
                <tr>
                    <th>Complaint Raised</th>
                    <td>{{ entry.complaint_raised }}</td>
                </tr>
                <tr>
                    <th>Complaint Raised By</th>
                    <td>{{ entry.complaint_raised_by }}</td>
                </tr>
                <tr>
                    <th>Contact Number</th>
                    <td>{{ entry.contact_number }}</td>
                </tr>
                <tr>
                    <th>Customer Mail ID</th>
                    <td>{{ entry.customer_mail_id }}</td>
                </tr>
                <tr>
                    <th>Complaint Raised Through</th>
                    <td>{{ entry.complaint_raised_through }}</td>
                </tr>
                <tr>
                    <th>Complaint Received By</th>
                    <td>{{ entry.complaint_received_by }}</td>
                </tr>
                <tr>
                    <th>VIN</th>
                    <td>{{ entry.vin }}</td>
                </tr>
                <tr>
                    <th>Complaint Assigned To</th>
                    <td>{{ entry.complaint_assigned_to }}</td>
                </tr>
                <tr>
                    <th>Submitted To Email</th>
                    <td>{{ entry.submitted_to_email }}</td>
                </tr>
                <tr>
                    <th>Engineer Contact Number</th>
                    <td>{{ entry.engineer_contact_number }}</td>
                </tr>
                <tr>
                    <th>PSN</th>
                    <td>{{ entry.psn }}</td>
                </tr>
                <tr>
                    <th>Device Model</th>
                    <td>{{ entry.device_model }}</td>
                </tr>
                <tr>
                    <th>Telco Status</th>
                    <td>{{ entry.telco_status }}</td>
                </tr>
                <tr>
                    <th>Active Profile</th>
                    <td>{{ entry.active_profile }}</td>
                </tr>
                <tr>
                    <th>Activation Start Date</th>
                    <td>{{ entry.activation_start_date }}</td>
                </tr>
                <tr>
                    <th>Activation End Date</th>
                    <td>{{ entry.activation_end_date }}</td>
                </tr>
                <tr>
                    <th>Vehicle Sale Date</th>
                    <td>{{ entry.vehicle_sale_date }}</td>
                </tr>
                <tr>
                    <th>First Communication in Darby</th>
                    <td>{{ entry.first_communication_in_darby }}</td>
                </tr>
                <tr>
                    <th>Last Communication in Darby</th>
                    <td>{{ entry.last_communication_in_darby }}</td>
                </tr>
                <tr>
                    <th>Vehicle Type</th>
                    <td>{{ entry.vehicle_type }}</td>
                </tr>
                <tr>
                    <th>Vehicle Run</th>
                    <td>{{ entry.vehicle_run }}</td>
                </tr>
                <tr>
                    <th>Kilometers/Hours</th>
                    <td>{{ entry.kilometers_hours }}</td>
                </tr>
                <tr>
                    <th>Main Battery Voltage</th>
                    <td>{{ entry.main_battery_voltage }}</td>
                </tr>
                <tr>
                    <th>Vehicle Running Location</th>
                    <td>{{ entry.vehicle_running_location }}</td>
                </tr>
                <tr>
                    <th>State</th>
                    <td>{{ entry.state }}</td>
                </tr>
                <tr>
                    <th>Region</th>
                    <td>{{ entry.region }}</td>
                </tr>
                <tr>
                    <th>Contact Person Name</th>
                    <td>{{ entry.contact_person_name }}</td>
                </tr>
                <tr>
                    <th>Contact Person Number</th>
                    <td>{{ entry.contact_person_number }}</td>
                </tr>
                <tr>
                    <th>Contact Category</th>
                    <td>{{ entry.contact_category }}</td>
                </tr>
                <tr>
                    <th>Issue Identified</th>
                    <td>{{ entry.issue_identified }}</td>
                </tr>
                <tr>
                    <th>Issue Analysis</th>
                    <td>{{ entry.issue_analysis }}</td>
                </tr>
                <tr>
                    <th>Existing Software</th>
                    <td>{{ entry.exist_software }}</td>
                </tr>
                <tr>
                    <th>Updated Software</th>
                    <td>{{ entry.updated_software }}</td>
                </tr>
                <tr>
                    <th>Final Action Taken</th>
                    <td>{{ entry.final_action_taken }}</td>
                </tr>
                <tr>
                    <th>Finalised Issue Category</th>
                    <td>{{ entry.finalised_issue_category }}</td>
                </tr>
                <tr>
                    <th>Call Status</th>
                    <td>{{ entry.call_status }}</td>
                </tr>
                <tr>
                    <th>HOD Comments</th>
                    <td>{{ entry.hod_comment }}</td>
                <tr>
                    <th>Date of Closure</th>
                    <td>{{ entry.date_of_closure }}</td>
                </tr>
            </tbody>
        </table>
        <p>Thank you,<br>Support Team</p>
    </div>
</body>
</html>