<!DOCTYPE html>
<html>
<head>
    <title>SR Request Closed</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 10px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <p>Dear Team,</p>
    <p>The SR Request with ID <strong>{{ sr_request.psn }}</strong> has been closed. Below are the details of the request:</p>
    
    <table>
        <tr>
            <th>Field</th>
            <th>Value</th>
        </tr>
        <tr>
            <td>Request ID</td>
            <td>{{ sr_request.id }}</td>
        </tr>
        <tr>
            <td>PSN</td>
            <td>{{ sr_request.psn }}</td>
        </tr>
        <tr>
            <td>Engineer</td>
            <td>{{ sr_request.engineer }}</td>
        </tr>
        <tr>
            <td>Category</td>
            <td>{{ sr_request.category }}</td>
        </tr>
        <tr>
            <td>Plan</td>
            <td>{{ sr_request.plan }}</td>
        </tr>
        <tr>
            <td>Billing To</td>
            <td>{{ sr_request.billing_to }}</td>
        </tr>
        <tr>
            <td>Status</td>
            <td>{{ sr_request.status }}</td>
        </tr>
        <tr>
            <td>Requestor Comments</td>
            <td>{{ sr_request.requestor_comments }}</td>
        </tr>
        <tr>
            <td>SIM Status During Request</td>
            <td>{{ sr_request.sim_status_during_request }}</td>
        </tr>
        <tr>
            <td>Requestor Validity Start Date</td>
            <td>{{ sr_request.requestor_validity_start_date }}</td>
        </tr>
        <tr>
            <td>Requestor Validity End Date</td>
            <td>{{ sr_request.requestor_validity_end_date }}</td>
        </tr>
        <tr>
            <td>Remarks</td>
            <td>{{ sr_request.remarks }}</td>
        </tr>
        <tr>
            <td>New SR No</td>
            <td>{{ sr_request.new_sr_no }}</td>
        </tr>
        <tr>
            <td>SR Date </td>
            <td>{{ sr_request.sr_date  }}</td>
        </tr>
        <tr>
            <td>SR Success Date</td>
            <td>{{ sr_request.sr_success_date}}</td>
        </tr>
        <tr>
            <td>Status </td>
            <td>{{ sr_request.status  }}</td>
        </tr>
    </table>

    <p>You can view the full details of the request by clicking the link below:</p>
    <p><a href="{{ details_url }}">View Request Details</a></p>
    <p>Thank you.</p>
</body>
</html>